page-welcome {
	#welcome{
	background-color: black;
	
	h1 {
		color: white;
		font-size: 40px;
		margin-top: 3%;
		
		}

	p {
		color: white;
		margin-top: 10%;
	}

	.buttons {
		margin-top: 10%;
	}


	}
}
